* {
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    align-items: center;
    flex-direction: column;
}

ul {
    list-style-type: none;
}

.select_gorod {
    margin: 30px;
    border-radius: 15px;
    padding: 20px;
    background-color: #ADCCCF;
    cursor: pointer;
}

h1 {
    color: #3F5057;
}

.popup {
    text-align: center;
    background-color: #789992;
    color: #ADCCCF;
    border-radius: 2px;
}

.popup h2 {
    margin: 20px;
}

.popup input {
    border-color: #ffffff00;
    padding: 9px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.hide {
    display: none;
}